.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav ul {
  display: flex;
  padding: 0;
  margin-top: 35px;
  justify-content: space-around;

}

.main-nav ul:first-child {
  margin-left: 0;
}

.main-nav ul:last-child {
  margin-right: 0;
}

.main-nav ul li {
  margin: 0 24px;
  list-style: none;
  font-weight: bold;
}

.link {
  cursor: pointer;
}
