.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav ul {
  padding: 0;
  display: flex;
  margin-top: 35px;
  justify-items: center;
}

.main-nav ul li {
  margin: 0 22px;
  list-style: none;
  font-weight: bold;
}

.main-nav ul:first-child {
  margin-left: 0;
}

.main-nav ul:last-child {
  margin-right: 0;
}

.link {
  cursor: pointer;
}

@media (max-width: 450px) {
  .main-nav ul li {
    margin: 0 15px;
  }
}
